In [1]:
# import necessary libraries 
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
sns.set()
% pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('./training_set_values.csv', index_col='id')

In [3]:
df_logic = pd.isnull(df)

In [4]:
np.sum(df_logic)

amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [5]:
df_logic.head(5)

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8776,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34310,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
67743,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19728,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
df_logic_2 = df_logic.copy()

In [7]:
for cname, column in df_logic_2.iteritems():
    df_logic_2[cname] = df_logic_2[cname].map({True:1, False:0})
df_logic_2.head(5)

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8776,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19728,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
sns.heatmap(df_logic_2)